[submodule "home-manager/_mixins/console/nvim-config"]
	path = home-manager/_mixins/console/nvim-config
	url = http://github.com/yoyozbi/nvim-config
[submodule "home-manager/_mixins/dotfiles"]
	path = home-manager/_mixins/dotfiles
	url = git@github.com:yoyozbi/dotfiles
